name: CI

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: env
      run: env
    - name: Git
      run: git --version
    - name: CMake
      run: cmake -version
    - name: Make
      run: make --version
    - name: GCC
      run: gcc --version
    - name: G++
      run: g++ --version
    - name: Clang
      run: clang --version
    - name: Python
      run: |
        python --version
        python -m site --user-base
    - name: Python 3
      run: |
        python3 --version
        python3 -m site --user-base
    - name: Python3 mypy-protobuf
      run: python3 -m pip install --user mypy-protobuf
    - name: Add path
      run: echo "$HOME/.local/bin" >> $GITHUB_PATH
    - name: Check protoc-gen-mypy location
      run: which protoc-gen-mypy
    - name: CPU Flags
      run: cat /proc/cpuinfo | grep "flags"

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: env
      run: "Get-ChildItem Env:"
    - name: Git
      run: git --version
    - name: CMake
      run: cmake -version
    - name: Python
      run: |
        python --version
        python -m site --user-base
    - name: Python mypy-protobuf
      run: python -m pip install --user mypy-protobuf
    - name: Add path
      run: echo "$((Get-Item ~).FullName)/appdata/roaming/python/python37/Scripts" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - name: Check protoc-gen-mypy location
      run: which protoc-gen-mypy

  build-osx:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: env
      run: env
    - name: Git
      run: git --version
    - name: CMake
      run: cmake -version
    - name: Make
      run: make --version
    - name: GCC
      run: gcc --version
    - name: G++
      run: g++ --version
    - name: Clang
      run: clang --version
    - name: Python
      run: |
        python --version
        python -m site --user-base
    - name: Python 3
      run: |
        python3 --version
        python3 -m site --user-base
    - name: Python3 mypy-protobuf
      run: python3 -m pip install --user mypy-protobuf
    - name: Add path
      run: echo "$HOME/Library/Python/3.9/bin" >> $GITHUB_PATH
    - name: Check protoc-gen-mypy location
      run: which protoc-gen-mypy
    - name: CPU Flags
      run: "sysctl -a | grep machdep.cpu.features | cut -f2 -d: | tr . _"

